if SHIELD_IH4CKEY_LEFT

config ZMK_KEYBOARD_NAME
    default "iH4ckey"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_IH4CKEY_LEFT || SHIELD_IH4CKEY_RIGHT

config ZMK_SPLIT
    default y

endif
